name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Generate build number
      uses: einaregilsson/build-number@v2 
      with:
        token: ${{secrets.GITHUB_TOKEN}}        
    - name: Print new build number
      run: echo "Build number is $BUILD_NUMBER"
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Gradle
      run: ./gradlew clean build dockerTest
    - name: Publish to Registry
      if: success()
      env:
        dockerRegistryUser: ${{secrets.dockerRegistryUser}}
        dockerRegistryPass: ${{secrets.dockerRegistryPass}}
      run: ./gradlew pushDockerImages